################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChatSample/ChatSample/obj
/MoveShape/.vs/MoveShape
/MoveShape/MoveShape/bin/Debug/netcoreapp3.0
/MoveShape/MoveShape/obj
/NetLearner.SignalRPoll/.vs/NetLearner.SignalRPoll
/NetLearner.SignalRPoll/bin/Debug/netcoreapp3.1
/NetLearner.SignalRPoll/obj
/IdentityApp/.vs/IdentityApp
/IdentityApp/IdentityApp/bin/Debug/netcoreapp3.1
/IdentityApp/IdentityApp/obj
/UserStore/.vs
/UserStore/UserStore.BLL/bin/Debug
/UserStore/UserStore.BLL/obj/Debug
/UserStore/UserStore.DAL/bin/Debug
/UserStore/UserStore.DAL/obj/Debug
/UserStore/UserStore.WEB/App_Data
/UserStore/UserStore.WEB/bin
/UserStore/UserStore.WEB/obj/Debug
/WebApiApp/.vs/WebApiApp
/WebApiApp/WebApiApp/bin/Debug/net5.0
/WebApiApp/WebApiApp/obj
/WebApplication1/.vs/WebApplication1
/WebApplication1/WebApplication1/bin/Debug/netcoreapp3.1
/WebApplication1/WebApplication1/obj
