################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChatSample/ChatSample/obj
/MoveShape/.vs/MoveShape
/MoveShape/MoveShape/bin/Debug/netcoreapp3.0
/MoveShape/MoveShape/obj
