################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChatSample/ChatSample/obj
/MoveShape/.vs/MoveShape
/MoveShape/MoveShape/bin/Debug/netcoreapp3.0
/MoveShape/MoveShape/obj
/NetLearner.SignalRPoll/.vs/NetLearner.SignalRPoll
/NetLearner.SignalRPoll/bin/Debug/netcoreapp3.1
/NetLearner.SignalRPoll/obj
